@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.Net Description Center</h1>
    <p>A place with explanations to simple questions about the .NET framework</a>.</p>
</div>
